@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
/* ol, ul {
	list-style: none;
} */
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*::before,
*::after {
  box-sizing: border-box;
}

/* * * {
  outline: 1px solid rgba(255, 0, 0, 0.2); 
}  */

body{
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1.5;
	font-weight: 500;
}

img{
	width: 100%;
	vertical-align: middle;
	display: inline-block;
}

a{
	text-decoration: none;
	color: #0027D5;
	display: inline-block;

}

time{
	margin-bottom: 4px;
	font-weight: 500;
	display: inline-block;
}

h2{
	font-size: 28px;
	font-weight: 700;
	color: #0027D5;
	margin-bottom: 24px;
}

h3{
	font-size: 20px;
	font-weight: 700;
	color: #000;
	margin-bottom: 12px;
}

ol{
	margin-bottom: 24px;
	padding-left: 22px;
}

ul {
	margin-bottom: 24px;
	padding-left: 24px;
}

ul li::marker{
	font-size: 10px;
}

span{
	color: #0027d5;
}

 svg{
	display: block;
	margin-right: 4px;
 }

.wrap{
	max-width: 1920px;
	margin: 0 auto;
	background-color: #FBFBFB;
}

.header{
	display: flex;
	justify-content: center;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-bottom: 0;
	list-style: none;
}



.header a{
	font-size: 28px;
	font-weight: 700;
	color: #000;
	margin-right: 40px;
}

.content{
	display: flex;
	border: 1px solid #6c757d;
}

.content img{
	width: 49.4%;
	/* padding-right: 24px; */
}

.blog{
	padding-top: 263px;
	margin-left: 24px;
	padding-right: 312px;
}


.blog .hashtag{
	font-size: 24px;
	margin-bottom: 8px;
}

.hashtag a{
	margin-right: 8px;
}

.hashtag .highlight{
	font-size: 16px;
	font-weight: 700;
	padding: 6px 12px;
	background-color: #0027D5;
	color: white;
	border-radius: 40px;
	vertical-align: top;
}

.blog-title{
	font-size: 28px;
	font-weight: 700;
	margin-bottom: 8px;
	color: #000;
}


@media(max-width: 767px){
	.content{
		display: flex;
		flex-wrap: wrap;
	}
	.content img{
		width: 100%;
	}
	.content .blog{
		width: 100%;
		padding: 48px 12px;
		margin-left: 0px;
	}
}

.wrap-container{
	max-width: 1920px;
	margin: 0 auto;
	border: 1px solid #6c757d;

}
 .container{
	width: 636px;
	margin: 80px auto;
 }

 .container .content-top,.content-text{
	margin-bottom: 48px;
 }

 .container .content-text p{
	margin-bottom: 8px;
 }

 .container .content-text .recommend{
	margin-bottom: 0px;
 }

 .container .content-text .tip{
	font-weight: 700;
	background-color: #ededed;
	border-radius: 24px;
	padding: 24px;
	margin-bottom: 24px;
	margin-top: 24px;
 }

.content-footer{
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
}

.content-last , .content-next{
	display: flex;
	width: 108px;
	border: 1px solid black;
	border-radius: 40px;
	color: #4b4b4b;
	justify-content: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

@media(max-width: 767px){
	.container{
		width: 100%;
		margin: 0;
	}
	.content-top{
		margin-top: 64px;
		margin-bottom: 48px;
		margin-left: 12px;
		margin-right: 12px;
	}

	.content-text{
		margin-bottom: 48px;
		margin-right: 12px;
		margin-left: 12px;
	}
	.content-footer{
		margin-left: 12px;
		margin-right: 12px;
		margin-bottom: 64px;
	}
}

.footer{
	display: flex;
	padding-top: 80px;
	padding-bottom: 80px;
	padding-left: 312px;
}

.footer .email{
	width: 1036px;
	font-size: 32px;
	margin-right: 24px;
}

.footer ul{
	list-style: none;
	padding: 0;
}

.link{
	display: flex;
	align-items:center ;
}

.copyright{
	text-align: center;
	padding: 24px 812.5px;
	background-color: #FFFFFF;
}

@media(max-width: 767px){
	.footer{
		display: none;
	}
	.copyright{
		padding: 24px 40px;
	}
}




